body {
  background-color: #151515;
}

.font-Yeseva {
  font-family: "Yeseva One", cursive;
}

.font-Josefin {
  font-family: "Josefin Sans", sans-serif;
}

.font-16 {
  font-size: 16px;
}

.font-18 {
  font-size: 18px;
}

.font-22 {
  font-size: 22px;
}

.font-24 {
  font-size: 24px;
}

.font-28 {
  font-size: 28px;
}

.font-36 {
  font-size: 36px;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.cursor-pointer {
  cursor: pointer;
}

.logo {
  text-decoration: none;
}

.search-input {
  background-color: #3a3a3a;
  border-radius: 10px;
  border: none;
  outline: none;
}

.heading-text {
  font-size: 37px;
}

.sort-select {
  background-color: #3a3a3a;
  border: none;
}

.image-container {
  height: 200px;
}

.game-image {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.details {
  position: relative;
  background-color: #3a3a3a;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.platform-container {
  display: inline-block;
  width: 10%;
}

.view-details {
  color: white;
  text-decoration: none;
  position: absolute;
  right: 2px;
  bottom: 3px;
}

.metacritic {
  color: #6c3;
  border: 1px solid #6c3;
  border-radius: 4px;
  padding: 2px 10px;
  background-color: #151515;
  position: absolute;
  right: 5px;
  top: 9px;
}

.blur-container {
  filter: blur(10px);
}

.menu-container {
  width: 65%;
  height: 65%;
  margin-top: 2%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #3a3a3a;
  position: absolute;
  top: 0;
  right: 0;
}

.menu-items {
  border-left: 4px solid black;
  background-color: #222;
  border-bottom: 2px;
  color: white;
  text-decoration: none;
}

.background-image {
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 300px;
  z-index: -1;
}

.detail-links {
  color: white;
  text-decoration: none;
}

.game-details-images {
  border-radius: 10px;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.screenshot {
  margin-left: 16px;
  display: inline-block;
  width: 264px;
  height: 148px;
}

.review-text-area {
  outline: none;
  width: 91.4%;
  height: 200px;
  background-color: #222;
}

.review-card {
  background-color: #3a3a3a;
  border-radius: 15px;
}

.review-button {
  outline: none;
  border: 2px solid black;
  border-radius: 10px;
  background-color: #3a3a3a;
}

.list-button-container {
  border: 2px solid black;
  border-radius: 10px;
  background-color: #3a3a3a;
  padding: 10px 0;
}

.search-img-container {
  width: 15%;
  height: 50px;
}

.search-name {
  font-size: 14px;
}

.list-button-container:active,
.review-button:active {
  background-color: #575656;
}

.search-close {
  position: absolute;
  right: 25px;
}

.profile-text {
  padding-top: 35%;
  font-family: "Yeseva One", cursive;
  font-size: 32px;
}

.profile-button1 {
  position: relative;
  padding-left: 10px;
  width: 309px;
  height: 46px;
  left: 33px;
  top: 185px;
  border: 2px solid white;
  background-color: transparent;
  border-radius: 10px;
  outline: none;
}

.username-sign-up {
  position: relative;
  padding-left: 10px;
  width: 309px;
  height: 46px;
  left: 33px;
  top: 185px;
  border-radius: 10px;
  outline: none;
}

.profile-button2 {
  position: relative;
  padding-left: 10px;
  width: 309px;
  height: 46px;
  left: 33px;
  top: 200px;
  border: 2px solid white;
  background-color: transparent;
  border-radius: 10px;
  outline: none;
}

.email {
  position: relative;
  padding-left: 10px;
  width: 309px;
  height: 46px;
  left: 33px;
  top: 200px;
  border-radius: 10px;
  outline: none;
}

.profile-button3 {
  position: relative;
  padding-left: 10px;
  width: 309px;
  height: 46px;
  left: 33px;
  top: 240px;
  border: 2px solid white;
  background-color: transparent;
  border-radius: 10px;
  outline: none;
}

.profile-button4 {
  position: relative;
  padding-left: 10px;
  width: 309px;
  height: 46px;
  left: 33px;
  top: 220px;
  border: 2px solid white;
  background-color: transparent;
  border-radius: 10px;
  outline: none;
}

.password {
  position: relative;
  padding-left: 10px;
  width: 309px;
  height: 46px;
  left: 33px;
  top: 220px;
  border-radius: 10px;
  outline: none;
}

.profile-login-container {
  width: 375px;
  height: 667px;
}

.profile-card {
  background-color: #3a3a3a;
  border-radius: 0 15px 15px 15px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
}

.sign-out {
  font-family: "Yeseva One", cursive;
  font-size: 24px;
}

.my-reviews {
  font-family: "Yeseva One", cursive;
  font-size: 36px;
}

.profile-game-title {
  font-family: "Yeseva One", cursive;
  font-size: 18px;
}
