/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #151515;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3a3a3a;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  background-color: #151515;
}

.font-Yeseva {
  font-family: "Yeseva One", cursive;
}

.font-Josefin {
  font-family: "Josefin Sans", sans-serif;
}

.font-16 {
  font-size: 16px;
}

.font-18 {
  font-size: 18px;
}

.font-22 {
  font-size: 22px;
}

.font-24 {
  font-size: 24px;
}

.font-28 {
  font-size: 28px;
}

.font-32 {
  font-size: 32px;
}

.font-36 {
  font-size: 36px;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.cursor-pointer {
  cursor: pointer;
}

.logo {
  text-decoration: none;
}

.search-input {
  background-color: #3a3a3a;
  border-radius: 10px;
  border: none;
  outline: none;
}

.heading-text {
  font-size: 37px;
}

.sort-select {
  background-color: #3a3a3a;
  border: none;
}

.image-container {
  height: 200px;
}

.game-image {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.details {
  position: relative;
  background-color: #3a3a3a;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.platform-container {
  display: inline-block;
  width: 10%;
}

.view-details {
  color: white;
  text-decoration: none;
  position: absolute;
  right: 2px;
  bottom: 3px;
}

.metacritic {
  color: #6c3;
  border: 1px solid #6c3;
  border-radius: 4px;
  padding: 2px 10px;
  background-color: #151515;
  position: absolute;
  right: 5px;
  top: 9px;
}

.blur-container {
  filter: blur(10px);
}

.menu-container {
  width: 65%;
  height: 65%;
  margin-top: 2%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #3a3a3a;
  position: absolute;
  top: 0;
  right: 0;
}

.menu-items {
  border-left: 4px solid black;
  background-color: #222;
  border-bottom: 2px;
  color: white;
  text-decoration: none;
}

.background-image {
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 300px;
  z-index: -1;
}

.detail-links {
  color: white;
  text-decoration: none;
}

.game-details-images {
  border-radius: 10px;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.screenshot {
  margin-left: 16px;
  display: inline-block;
  width: 264px;
  height: 148px;
}

.review-text-area {
  outline: none;
  width: 91.4%;
  height: 200px;
  background-color: #222;
}

.review-card {
  background-color: #3a3a3a;
  border-radius: 15px;
}

.review-button {
  outline: none;
  border: 2px solid black;
  border-radius: 10px;
  background-color: #3a3a3a;
}

span > a {
  color: #4a88ff;
}

.list-button-container {
  border: 2px solid black;
  border-radius: 10px;
  background-color: #3a3a3a;
  padding: 10px 0;
}

.search-img-container {
  width: 15%;
  height: 50px;
}

.search-name {
  font-size: 14px;
}

.list-button-container:active,
.review-button:active {
  background-color: #575656;
}

.search-close {
  position: absolute;
  right: 25px;
}

.push-text-down {
  padding-top: 35%;
}

.profile-buttons {
  width: 309px;
  height: 46px;
  border: 2px solid white;
  background-color: transparent;
  border-radius: 10px;
  outline: none;
}

.profile-inputs {
  width: 309px;
  height: 46px;
  border-radius: 10px;
  outline: none;
}

.profile-login-container {
  height: 100vh;
}

.profile-card {
  background-color: #3a3a3a;
  border-radius: 0 15px 15px 15px;
}

.avatar-container {
  width: 100px;
  height: 100px;
  -moz-border-radius: 100px;
  -moz-background-clip: padding;
  border-radius: 100px;
  background-clip: padding-box;
  background-size: cover;
  background-position: center center;
}

.contact-form-name {
  width: 50%;
}

.contact-form-email {
  width: 50%;
}

.contact-bio {
  line-height: 35px;
}

@media (min-width: 576px) {
  .image-container {
    height: 240px;
  }

  .game-card {
    width: 65%;
    margin-left: 18%;
  }

  .platform-label {
    margin-left: 18%;
  }

  .platform-container {
    width: 7%;
  }

  .sort-select {
    margin-left: 18%;
  }

  .menu-container {
    height: 94vh;
  }

  .menu-items {
    font-size: 18px;
  }

  .review-submit {
    padding-right: 2.5rem !important;
  }
}

@media (min-width: 768px) {
  .menu-container {
    height: 55vh;
  }

  .menu-items {
    font-size: 24px;
  }

  .platform-container {
    width: 7%;
  }

  .logo {
    font-size: 32px;
  }

  .menu-icon {
    padding-left: 3%;
  }

  .search-img-container {
    width: 20%;
    height: 100px;
  }

  .search-name {
    font-size: 24px;
  }

  .search-input {
    font-size: 24px;
  }

  .search-games {
    font-size: 24px;
  }

  .menu-icon2 {
    font-size: 32px;
  }

  .game-about {
    font-size: 32px;
  }

  .game-bio {
    font-size: 24px;
  }

  .profile-inputs {
    font-size: 24px;
  }

  .profile-text {
    font-size: 42px;
  }

  .profile-buttons {
    font-size: 24px;
  }

  .profile-game-title {
    font-size: 24px;
  }

  .profile-card {
    font-size: 24px;
  }

  .review-text-area {
    width: 88%;
  }

  .review-card {
    font-size: 24px;
  }

  .metacritic {
    font-size: 24px;
  }

  .game-title {
    font-size: 30px;
  }

  .avatar-container {
    width: 165px;
    height: 165px;
  }

  .contact-name {
    font-size: 28px;
  }

  .contact-bio {
    font-size: 24px;
  }

  .contact-me {
    font-size: 28px;
  }
}

@media (min-width: 992px) {
  .heading-text {
    font-size: 48px;
  }

  .game-container {
    display: flex;
    flex-wrap: wrap;
  }

  .game-card {
    width: 43%;
  }

  .next-button {
    font-size: 28px;
  }

  .breadcrumbs {
    font-size: 22px;
  }

  .release-platform-container {
    margin-bottom: 2%;
  }

  .game-details-platforms {
    width: 4% !important;
  }

  .screenshot {
    width: 380px;
    height: 250px;
  }

  .list-container {
    display: flex;
    justify-content: space-between;
  }

  .list-button-container {
    font-size: 28px;
    width: 35%;
  }

  .game-details-name {
    font-size: 48px;
  }

  .game-about {
    font-size: 42px;
  }

  .game-bio {
    font-size: 32px;
  }

  .game-details-date {
    font-size: 32px;
  }

  .write-review {
    font-size: 28px;
  }

  .review-button {
    font-size: 24px;
  }

  .review-text-area {
    font-size: 28px;
    width: 90.5%;
  }

  .review-username {
    font-size: 28px;
  }

  .review-card {
    font-size: 24px;
  }

  .menu-container {
    height: 60vh;
  }

  .close-menu {
    font-size: 36px;
  }

  .menu-items {
    font-size: 42px;
  }

  .search-img-container {
    width: 15%;
    height: 120px;
  }

  .search-games {
    font-size: 28px;
  }

  .search-close {
    font-size: 28px;
  }
}

@media (min-width: 1200px) {
  .game-card {
    width: 28.5%;
  }

  .platform-container {
    width: 10%;
  }

  .game-details-platforms {
    width: 3% !important;
  }

  .review-text-area {
    width: 92.3%;
  }

  .avatar-container {
    height: 200px;
    width: 200px;
  }

  .contact-name {
    padding-left: 5rem !important;
  }
}

@media (min-width: 1800px) {
  .game-card {
    width: 22%;
  }

  .game-details-platforms {
    width: 2% !important;
  }

  .screenshot {
    width: 500px;
    height: 300px;
  }

  .list-button-container {
    width: 30%;
  }

  .review-text-area {
    width: 95.2%;
  }

  .menu-container {
    width: 45%;
    height: 65vh;
  }

  .contact-name {
    font-size: 32px;
  }

  .contact-bio {
    line-height: 45px;
  }
}
